bitbake.lock
build
sources/*
deploy/
!sources/layers.txt
!sources/layers.txt.orig
conf/auto.conf
!conf/bblayers.conf
!conf/bblayers.conf.orig
conf/sanity_info
conf/site.conf
pseudodone
git_config
subversion_config/
package-depends.dot
pn-depends.dot
task-depends.dot
tags
